#body {
    min-width: 400px;
    min-height: 500px;
    margin: 0px;
    padding: 0px;

    font-family: 'Rajdhani Light';
    background-image: url('data/background.jpg');
    background-size: 100%;
}
a { 
    text-decoration: none;
    color: white;
}
h2, h3 {
    display: inline-block;
    margin-bottom: 2px;
}
/* HEADER */
#headerParent {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 0px;
    background-color:#203143;
    border: solid 2px white;
    border-left: none;

    display: flex;
}
#logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px  ;

    padding: 4px;
	background: content-box;
    background-color: #203143;
    border-right: solid 2px white;
}
#name {
    font-size: 35px;
    color: whitesmoke;
    font-weight: 700;

    align-self: center;
}
/* CONTENT */
.content {
    color: white;
}
#contentParent {
    background-color: inherit;
    text-align: center;
}
#supportIMG {
    min-width: 200px;
    min-height: 200px; 
    max-height: 200px;
    max-width: 90%;
    margin-bottom: 10px;

	padding: 10px;
	background: content-box;
    border: solid 2px white;
}
#lableIMG {
    margin-bottom: 20px;
}
#buttonMain {
    width: 110px;
    height: 30px;
    background-color: #203143;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 5px;
}
#buttonMain:hover:enabled {
    border: solid 2px white;
    filter: brightness(120%);
}
#buttonMain:disabled {
    background: aquamarine;
}
#lableDrop {
    font-size: 17px;
}
#animalsDrop {
    background-color: #203143;
    border: white;
    font-size: 15px;
    border-radius: 5px;
    min-height: 25px;
    min-width: 70px;
}
#sources {
    font-size: 15px;
}
#backToHomeIMG {
    width: 50px;
    height: 50px;

    padding: 5px;
	background: content-box;
    border: solid 2px white;
}

/* FOOTER */
.footer {
    color: white;
}
#footer {
    min-width: 100%;
    height: 45px;
    background-color: #2B212A;
    
    bottom: 0;
    position: absolute;

    display: flex;
}
#note {
    border: solid white 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 33px;

    padding: 5px;
    background: content-box;
    align-self: start;
}
#infoContainer {
    border: solid white 1px;;
    align-self: right;
}
#infoIcon {
    height: 35px;
    display: block;
    padding: 5px;
    background: content-box;
}
#github {
    border: solid white 1px;
    border-right: none;
    align-self: right;
    font-size: 35px;
    margin-left: 0;
    
    padding: 5px;
    background: content-box;
}